---
import Section from '@/components/UI/Section.astro'
---

<Section class="bg-purple-400 lg:py-8">
	<header>
		<h2 class="text-h2 mb-h2 text-center text-balance font-bold text-purple-50">
			Resultados que hablan por sí solos
		</h2>
		<p class="text-purple-50 max-w-lg mx-auto text-center text-p mb-p">
			Las marcas líderes y emergentes han logrado llenar sus pipelines de ventas
			en industrias tech, fintech, construcción, manufactura y más.
		</p>
	</header>
	<footer class="grid grid-cols-2 lg:grid-cols-4 gap-5 pt-6justify-center mx-auto justify-items-center">
		<div>
			<span class="counter-value-leads text-4xl font-bold text-purple-50">0</span>
			<p class="text-sm text-purple-100">Leads Generados</p>
		</div>
		<div>
			<span class="counter-value-empresas text-4xl font-bold text-purple-50">0</span>
			<p class="text-sm text-purple-100">Empresas Atendidas</p>
		</div>
		<div>
			<span class="counter-value-clientes text-4xl font-bold text-purple-50">0</span>
			<p class="text-sm text-purple-100">Satisfacción</p>
		</div>
		<div>
			<span class="counter-value-industries text-4xl font-bold text-purple-50">0</span>
			<p class="text-sm text-purple-100">Industrias</p>
		</div>
	</footer>
</Section>

<script>
	import { gsap } from 'gsap'

	const counterLeads = document.querySelector('.counter-value-leads')
	const counterEmpresas = document.querySelector('.counter-value-empresas')
  const counterClientes = document.querySelector('.counter-value-clientes')
  const counterIndustries = document.querySelector('.counter-value-industries')

	if (counterLeads) {
		const obj = { value: 0 }
		gsap.to(obj, {
			value: 15000,
			duration: 2,
			ease: 'power2.out',
			onUpdate: () => {
				counterLeads.textContent =
					Math.round(obj.value).toLocaleString('es-ES') + ' +'
			}
		})
	}

	if (counterEmpresas) {
		const obj = { value: 0 }
		gsap.to(obj, {
			value: 200,
			duration: 2,
			ease: 'power2.out',
			onUpdate: () => {
				counterEmpresas.textContent = Math.round(obj.value) + ' +'
			}
		})
	}

  if (counterClientes){
    const obj = {value:0}
    gsap.to(obj, {
      value:98,
      duration:2,
      ease:'power2.out',
      onUpdate: () => {
        counterClientes.textContent = Math.round(obj.value) + '%'
      }
    })
  }

	if (counterIndustries) {
		const obj = { value: 0 }
		gsap.to(obj, {
			value: 12,
			duration: 2,
			ease: 'power2.out',
			onUpdate: () => {
				counterIndustries.textContent = Math.round(obj.value).toString()
			}
		})
	}
</script>
