---
import CardBenefist from "@/components/CardBenefist.astro";
import Section from "@/components/UI/Section.astro";
import { BENEFICIO } from "@/lib/const/beneficio";
---

<Section class="lg:py-8">
  <header class="w-full flex flex-col items-center justify-center">
    <span class="text-purple-500 uppercase">beneficios</span>
    <h2 class="text-h2 my-h2 text-balance font-bold">
      <span>Todo lo que necesitas para</span>
      <span class="text-purple-500">escalar tus ventas</span>
    </h2>
  </header>
  <footer class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-7 pt-6">
    {
      BENEFICIO.map((item)=>( <CardBenefist {...item}/>))
    }
  </footer>
</Section>