---
import Link from '@/components/UI/Link.astro'
import Section from '@/components/UI/Section.astro'
import { Icon } from 'astro-icon/components'

const items = [
	{
		item: 'Entender tus metas de ventas o posicionamiento digital'
	},
	{
		item: 'Comprender tu estructura de ventas y tu ecosistema digital'
	},
	{
		item: 'Disenar los proximos pasos para superar tus desafios en captacion de oportunidades B2B'
	}
]
---

<Section class="lg:py-8">
	<div class="grid grid-cols-1 lg:grid-cols-2 gap-5 items-center">
		<div>
			<header>
				<span class="uppercase text-purple-500">predice y escala</span>
				<h2 class="text-h2 text-balance my-h2 font-bold">
					<span>La manera mas agil de captar</span>
					<span class="text-purple-500">prospectos empresariales</span>
				</h2>
			</header>
			<p class="text-p mb-p text-pretty">
				Sacale el maximo provecho a LinkedIn y la Inteligencia Artificial con el
				poder de la marca personal de tus vendedores. Agenda ahora con un
				consultor y obtiene un analisis personalizado de tu demanda en LinkedIn.
			</p>
			<h6 class="text-h6 mb-h6 font-bold">Que esperar de esta reunion:</h6>
			<ul class="space-y-2">
				{
					items.map(({ item }) => (
						<li class="flex space-x-2">
							<Icon name="checkbox" class="size-4 text-purple-500 shrink-0" />
							<p class="text-p">{item}</p>
						</li>
					))
				}
			</ul>
			<nav class="pt-6 flex flex-col gap-5 lg:flex-row">
				<Link
					label="Agenda ahora"
					href="#"
					style="primary"
					icon={{
						name: 'phone',
						side: 'left'
					}}
				/>
				<Link
					label="Escribenos"
					href="#"
					style="secondary"
					icon={{
						name: 'mail',
						side: 'left'
					}}
				/>
			</nav>
		</div>
		<div>
			<div class="w-full max-w-lg mx-auto p-7 bg-white shadow-xl rounded-xl overflow-hidden">
				<h3 class="text-h3 font-bold mb-h3">Solicita tu analisis gratuito</h3>
				<form class="grid grid-cols-2 gap-5">
					<div class="flex flex-col space-y-2">
						<label for="name">Nombre</label>
						<input class="w-full h-10 px-5 border border-gray-200 rounded-xl focus:outline-none focus:border-purple-500 focus:border-2 focus:shadow-sm focus:shadow-purple-300" type="text" placeholder="Tu nombre" id="name" />
					</div>
					<div class="flex flex-col space-y-2">
						<label for="lastname">Apellido</label>
						<input class="w-full h-10 px-5 border border-gray-200 rounded-xl focus:outline-none focus:border-purple-500 focus:border-2 focus:shadow-sm focus:shadow-purple-300" type="text" placeholder="Tu apellido" id="lastname" />
					</div>
					<div class="col-span-2 flex flex-col space-y-2">
						<label for="email">Correo</label>
						<input class="w-full h-10 px-5 border border-gray-200 rounded-xl focus:outline-none focus:border-purple-500 focus:border-2 focus:shadow-sm focus:shadow-purple-300" type="email" placeholder="Tu correo" id="email" />
					</div>
					<div class="col-span-2 flex flex-col space-y-2">
						<label for="company">Empresa</label>
						<input class="w-full h-10 px-5 border border-gray-200 rounded-xl focus:outline-none focus:border-purple-500 focus:border-2 focus:shadow-sm focus:shadow-purple-300" type="text" placeholder="Tu empresa" id="company" />
					</div>
					<div class="col-span-2 flex flex-col space-y-2">
						<label for="teamSize">Tamaño del equipo de ventas</label>
						<select class="w-full h-10 px-5 border border-gray-200 rounded-xl focus:outline-none focus:border-purple-500 focus:border-2 focus:shadow-sm focus:shadow-purple-300"  name="teamSize" id="teamSize">
							<option value="">Selecciona una opcion</option>
							<option value="1">1</option>
							<option value="2-5">2-5</option>
							<option value="6-10">6-10</option>
							<option value="11-20">11-20</option>
							<option value="21-50">21-50</option>
							<option value="51-100">51-100</option>
							<option value="101-200">101-200</option>
							<option value="201-500">201-500</option>
							<option value="501-1000">501-1000</option>
							<option value="1001+">1001+</option>
						</select>
					</div>
					<div class="col-span-2 py-5"><button class="w-full bg-purple-500 text-purple-50 py-3 rounded-xl font-semibold" type="submit">Solicitar analisis</button></div>
				</form>
				<div class="text-center">
					<small
						><span>Al enviar este formulario, aceptas nuestra</span>
						<a href="" class="font-semibold text-purple-500">politica de privacidad.</a></small
					>
				</div>
			</div>
		</div>
	</div>
</Section>
