---
import { Icon } from 'astro-icon/components'

interface Props {
	nombre: string
	cargo: string
	calificacion: number
	avatar?: string
	description: string
}

const { nombre, cargo, calificacion, avatar, description } = Astro.props
---

<article class="p-8 rounded-xl border-2 border-gray-200 w-full h-full lg:hover:shadow-xl transition-all duration-300">
	<header>
		<Icon name="quote" class="bg-purple-200 text-purple-500 size-10 p-2 rounded-full" />
		<div class="flex gap-1 mt-4">
			{
				Array.from({ length: 5 }).map((_, index) => (
					<Icon
						name="star"
						class:list={[
							'size-5',
							index < calificacion
								? 'fill-yellow-400 text-yellow-400'
								: 'fill-gray-200 text-gray-200'
						]}
					/>
				))
			}
		</div>
	</header>
  <p class="my-p text-p text-pretty">"{description}"</p>
  <footer class="flex space-x-4 pt-6 border-t-2 border-gray-200">
    <span class="size-8 rounded-full bg-gray-200 text-gray-950 p-2 flex items-center justify-center font-bold">{avatar}</span>
    <div>
      <h4 class="font-bold text-p">{nombre}</h4>
      <p><small>{cargo}</small></p>
    </div>
  </footer>
</article>
